*{
    font-family: Poppins;
    margin: 16px;
}

nav{
    display: flex;
    justify-content: space-between;
}

.nav-items{
    display: flex;
    gap: 80px;
    text-align: center;
    font-size: 25px;
    font-weight: 250;

}

.nav-items :hover{
    color: #FE5E35;  
    font-size: 25px;
}

nav img{
    position: relative;
    right: -70px;
}


h3{
    font-size: 45px;
    font-weight: 100;
}

.left-section h1{
    font-size: 65px;
    font-weight:bolder;
}

.sub-headline{
    display: flex;
}

.sub-headlines img{
    height: 25px;
    width: 25px;
    position: relative;
    top: -15px;
}

.text{
    font-size: 12px;
    width: 690px;
    color: #C6C6C6;
}

.action-btn{
    height: 55px;
    width: 180px;
    border-radius: 30px;
    background-color: #FE5E35;
    color: white;
    font-size: large;
    border: 1px solid #FE5E35;
}

.right-section{
    float: right;
}

.discount{
    position: relative;
    top: -320px;
    left: 10px;
    height: 170px;
    z-index: 1;
    box-shadow: #C6C6C6;
}

.discount-content h4 , .discount-content h1{
    position: relative;
    top: -480px;
    right: -35px;
    z-index: 1;
    font-size: 22px;
    color:white;
}

.headphone-div :nth-child(3){
    position: relative;
    top: -1050px;
    height: 560px;
}

.dots{
    position: relative;
    top: -1270px;
    right: -200px;
    display: flex;
}

.dot{
    font-size: 190px;
}

.dots :nth-child(1){
    color: yellow;
}


.dots :nth-child(2){
    color: #FE5E35}


.dots :nth-child(3){
    color: black;
}

.right-section button{
    position: relative;
    top: -1380px;
    right: -215px;
    border: 1px solid #FE5E35;
}


@media screen and (max-width:650px)
{
    *{
        margin: 0;
        padding: 10px;        
        position: unset;
    }

    img[src="./images/logo.svg"]{
        width: 125px;
        text-align: center;
        justify-content: center;
        margin: auto;      
        flex-wrap: wrap;
        position: relative;
        left: -5px;
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: auto;
        gap: 10px;
    }
    .nav-items{
        font-size: 25px;
        gap: 10px;
        justify-content: center;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    img[src="./images/actions.svg"]{
        position: relative;
        left: -6px;
    }
    .intro-section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin: auto;
    }
    .left-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        position: relative;
        top: -450px;
    }   
    .left-section h3{
        font-size:medium;
    }
    .left-section h1{
        font-size: 25px;
    }

    .sub-headlines{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        font-size: medium;
        position: relative;
    }
    .text{
        justify-content: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 220px;
    }
    .action-btns{
        justify-content: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        left: -20px;
        gap: 10px;
    }
    .right-section{
        justify-content: center;
        margin: auto;
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        bottom: -600px;
    }
    .headphone-div{
        justify-content: center;
        margin: auto;
        display: flex;
    }
    img[src="./images/headphones.jpg"]{
        left: -215px;
        width: 255px;
    }
    img[src="./images/discount.svg"]{
        position: relative;
        top: -800px;
        width: 102px;

    }
    .dots{
        position: relative;
        top: -350px;
        left: 55px; 
    }
    .discount-content{
        position: relative;
        top: -270px;
        left: -130px;
    }
    .discount-content h1, .discount-content h4{
        font-size: smaller;
    }
}
